<%-if @added_members.count < 4 %>
<div class="modal hide" id="addMemberModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
      <h2>Candidates to invite</h2>
  </div>
  <div class="modal-body" style="overflow:scroll;height:550px;">
    <% if @candidates.length < 1%>
      <h3 style="padding-left:20px"> No members to add</h3>
    <% else %>
      <% @candidates.each do |user| %>
        <div class="row-fluid space_top">
          <div class="span2 ">
            <img class="small-avatar " src="<%= user.avatar %>">
          </div>
          <div class="span4">
            <h3><%= user.name %></h3>
            <div>
              <a href='<%= add_request_path(user.id) %>' class="btn addReq">Add</a>
            </div>
          </div>
          <div class="span6">
            <a href='http://github.com/<%= user.handle %>'><h3><%= user.handle %></h3></a>
            <h3> <%= user.email %> </h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%-end %>