<a class="btn" data-toggle="modal" href="#newTeamModal" >Create Team</a>

<div class="modal hide" id="newTeamModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Please complete with team information</h3>
  </div>
  <div class="modal-body">
    <div id="create_team">
  
      <%= form_tag teams_path , :name => "team_form", :id=>"team_form",:class => "formset", :method => "post" ,  :multipart => true do %>
    
        <div class="control-group">
          <%= label_tag :"Team Name", nil, :class => "control-label" %>
          <div class="controls">
            <%= text_field_tag(:name, nil, :class => "validate input-xlarge", :"data-rules" => "required", :"data-display"=>"Team Name", "placeholder" => "Team name", :"data-name" =>"Team Name", :id=>"Team Name") %>
            <p class="help-block"></p>
          </div>
        </div>

        <div class="control-group">
          <%= label_tag :"Team Description", nil, :class => "control-label"%>
          <div class="controls">
          <%= text_area_tag(:desc, nil, :class => " input-xlarge") %>
            <p class="help-block"></p>
          </div>
        </div>


        <div class='control-group' style='margin-bottom:0'>
          <%= label_tag :add_members, nil, :class => "control-label" %>
          <div class="controls" style='margin-bottom: 10px'>
            <%= text_field_tag(:emails, nil, :class => "validate input-xlarge", "placeholder" => "Email of member 1", :"data-rules"=> "valid_email", :"data-display"=>"Email", :"data-name" =>"email1", :id=>"email1", :"data-provide"=>"typeahead", :"data-source" => @handles ) %>
            <p class="help-block"></p>
          </div>
        </div>

        <div class='control-group' style='margin-bottom:0'>
          <div class="controls">
            <%= file_field_tag :image, :class => "medium", :size => "30" %>
           <p class="help-block"></p>
          </div>
        </div>
    
        <p> You can add members later too.</p>

        <div class='backend control-group'>
          <p class="help-block"></p>
        </div>      

        <div class="clearfix">
          <div class="input">
            <%= submit_tag "Save", :class => "btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



