Please Fill up the form to finish the registraion 
<div id='pms' class="container ghost-padding">
  <div class="row-fluid">
  <div class="checkform">
  <%= form_tag update_user_path , :class => "formset", :method => "post" %>
  
   <div class="control-group">
    <%= label_tag :FirstName, nil, :class => "control-label" %>
    <div class="controls">
    <%= text_field_tag(:name,@user.name,  :class => "mandatory input-xlarge", "data-error-msg" => "Please enter your first name") %>
      <p class="help-block"></p>
    </div>
  </div>


  <div class="control-group">
    <%= label_tag :Email, nil, :class => "control-label" %>
    <div class="controls">
      <%= text_field_tag(:email,@user.email, :class => "mandatory input-xlarge", "data-error-msg" => "Please enter your Email") %>
      <p class="help-block"></p>
    </div>
  </div>
  

  <div class="clearfix">
    <div class="input">
      <%= submit_tag "Save", :class => "btn" %>
    </div>
  </div>


</div>
</div>
</div>

