<div class="nav">

    <div class="h">
    <a onmouseover="mouseOver1()" onmouseout="mouseOut1()" href="#"><img src="<%= image_path 'nav_home_label.png' %>" id="home" alt="Home"></a>
    </div>

    <div class="b">
    <a onmouseover="mouseOver2()" onmouseout="mouseOut2()" href="#bootcamp"><img src="<%= image_path 'nav_bootcamp_label.png' %>" id="bootcamp" alt="Bootcamp"></a>
    </div>

    <div class="r">
    <a onmouseover="mouseOver3()" onmouseout="mouseOut3()" href="#rules"><img src="<%= image_path 'nav_rules_label.png' %>" id="rules" alt="Rules"></a>
    </div>

    <div class="s">
    <a onmouseover="mouseOver4()" onmouseout="mouseOut4()"  href="#schedule"><img src="<%= image_path 'nav_schedule_label.png' %>" id="schedule" alt="Schedule"></a>
    </div>

    <div class="v">
    <a onmouseover="mouseOver5()" onmouseout="mouseOut5()"  href="#venue"><img src="<%= image_path 'nav_venue_label.png' %>" id="venue" alt="Venue"></a>
    </div>

    <div class="p">
    <a onmouseover="mouseOver6()" onmouseout="mouseOut6()"  href="#prizes"><img src="<%= image_path 'nav_prizes_label.png' %>" id="prizes" alt="Prizes"></a>
    </div>

    <div class="t">
    <a onmouseover="mouseOver7()" onmouseout="mouseOut7()"  href="#team"><img src="<%= image_path 'nav_team_label.png' %>" id="team" alt="Team"></a>
    </div>

    <p class = "copyright">
      &copy; 2012 VMware
    </p>

</div>



