Please Fill with team information 
<div id='pms' class="container ghost-padding">
  <div class="row-fluid">
  <div class="checkform">
  <%= form_tag team_index_path , :class => "formset", :method => "post" %>
  
   <div class="control-group">
    <%= label_tag :TeamName, nil, :class => "control-label" %>
    <div class="controls">
    <%= text_field_tag(:name,"" ,:class => "mandatory input-xlarge", "data-error-msg" => "Please enter your first name") %>
      <p class="help-block"></p>
    </div>
  </div>


  <div class="control-group">
    <%= label_tag :Member1, nil, :class => "control-label" %>
    <div class="controls">
      <%= text_field_tag(:member1,"", :class => "mandatory input-xlarge", "data-error-msg" => "The member has not registered yet!") %>
      <p class="help-block"></p>
    </div>
  </div>


<div class="control-group">
    <%= label_tag :Member2, nil, :class => "control-label" %>
    <div class="controls">
      <%= text_field_tag(:member2,"", :class => "mandatory input-xlarge", "data-error-msg" => "The member has not registered yet!") %>
      <p class="help-block"></p>
    </div>
  </div>
  

  <div class="clearfix">
    <div class="input">
      <%= submit_tag "Save", :class => "btn" %>
    </div>
  </div>


</div>
</div>
</div>

