<!DOCTYPE html>
<html>
<head>
  <title>Contributing code</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</head>
<body>

<h1>Contributing CODE</h1>
<% if current_user %>
  Welcome <%= current_user.fname %>!
  <%= link_to "Logut", logout_path %>
<% else %>
  <%= link_to "Sign in with Github", "/auth/github" %>
<% end %>
<%= yield %>
<br>
<br>
<br>
<br>
<br>
<br>
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fcfmagi.cloudfoundry.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80&amp;appId=152055234921453" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfmagi.cloudfoundry.com" data-via="mahilis">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!-- Place this tag where you want the +1 button to render -->
<g:plusone annotation="inline"></g:plusone>

<!-- Place this render call where appropriate -->

</body>
</html>
