<!DOCTYPE html>
<html>
<head>
  <title>#ContributingCode Sprint - July 13th to July 28th, 2012</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render  :partial => "partials/side_icons" %>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"><img src="<%= image_path 'logo_mini.png' %>"></a>
        <div class='pull-right'>
          <% if current_user %>
            Hi <strong><%= current_user.name %></strong> |
            <a href="/logout/"> <strong>Logout</strong></a>
          <% else %>
            <a href="/auth/github" class="dropdown-toggle">Sign-in/Register with Github</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <%= render  :partial => "partials/share_buttons" %>
      <div class="span12" >
        <%= yield %>
      </div>
    </div>
  </div>

<script>
var $my_form =  $("#team_form")
$my_form.validate( self, self.onteam_formSubmit )
var $my_form1 =  $("#register_form")
$my_form1.validate( self, self.onregister_formSubmit)
<%= yield(:js) %>
</script>

</body>
</html>


